<launch>
<!-- Launch file for Livox MID360 LiDAR -->

	<arg name="rviz" default="true" />
	<arg name="record_odom_gt" default="false" />
		<arg name="robot_name" default="mid360_fastlio" />
		<arg name="runtime_pos_log_enable" default="false" />
		<arg name="runtime_performance_log_enable" default="false" />
		<arg name="point_filter_num" default="1" />
		<arg name="filter_size_surf" default="0.5" />
			<arg name="filter_size_map" default="0.5" />
			<arg name="cloud_output_point_stride" default="1" />

	<rosparam command="load" file="$(find fast_lio)/config/mid360.yaml" />

	<param name="feature_extract_enable" type="bool" value="0"/>
	<param name="point_filter_num" type="int" value="$(arg point_filter_num)"/>
	<param name="max_iteration" type="int" value="3" />
	<param name="filter_size_surf" type="double" value="$(arg filter_size_surf)" />
		<param name="filter_size_map" type="double" value="$(arg filter_size_map)" />
		<param name="publish/cloud_output_point_stride" type="int" value="$(arg cloud_output_point_stride)" />
	<param name="cube_side_length" type="double" value="1000" />
		<param name="runtime_pos_log_enable" type="bool" value="$(arg runtime_pos_log_enable)" />
		<param name="runtime_performance_log_enable" type="bool" value="$(arg runtime_performance_log_enable)" />
    <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen" />

	<group if="$(arg rviz)">
	<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_lio)/rviz_cfg/loam_livox.rviz" />
	</group>



</launch>
